<div id="regBody">
    <mat-toolbar id="regHeader">
        <span>Payment Details</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" (click)="onClose()" mat-stroked-button tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <mat-dialog-content>
        <form [formGroup]="paymentService.form" (submit)="onSubmit()">
            <mat-grid-list cols=1 rowHeight="500px">
                <mat-grid-tile>
                    <div class="controles-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Card Holder Name</mat-label>
                            <input matInput formControlName="name" placeholder="Card Holder Name">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                            
                        <mat-form-field appearance="outline">
                            <mat-label>Card Number</mat-label>
                            <input matInput formControlName="cardNumber" placeholder="Credit Card">
                            <mat-icon matSuffix>payment</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Exp. Month</mat-label>
                            <input matInput formControlName="expMonth" placeholder="Expiration Month">
                            <mat-icon matSuffix>event</mat-icon>
                        </mat-form-field>
                            
                        <mat-form-field appearance="outline">
                            <mat-label>Exp. Year</mat-label>
                            <input matInput formControlName="expYear" placeholder="Expiration Year">
                            <mat-icon matSuffix>event</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>CVC</mat-label>
                            <input matInput [type]="hide ? 'password':'text'" formControlName="cvc" placeholder="CVC">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput formControlName="amount" name="amount" readonly>
                            <mat-icon matSuffix>₹</mat-icon> 
                        </mat-form-field>
                    </div>    
                </mat-grid-tile>
            </mat-grid-list>
        
            <div class="button-row">
                <button mat-raised-button id="regButton" type="submit" [disabled]="paymentService.form.invalid" >Submit</button>
                <button mat-raised-button id="regButtonClear" (click)="onClear()">Clear</button>
            </div>
        </form>
    </mat-dialog-content>
</div>